{% extends "main.html" %}
{% block content %}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <span class="label label-info">Headup! </span> - Outage scheduled for Monday evening from 20:00<p>
      <div class="jumbotron">
        <h2>Welcome to the BEL Admin Portal</h2>
        <p>This portal is to help centralise all the administration features of the BEL course. These features include:</p>
		<table align="center" cellspacing="15" cellpadding="10">
		<tr>
		<td>* Course Programme</td>
		<td></td>
		<td>* Progress Tracking</td>
		<td></td>
		<td>* Course Workbook</td>
		<td></td>
		<td>* Tutor Guidelines</td>
		</tr>
		<tr>
		<td>* Student Feedback</td>
		<td></td>
		<td>* Student Help</td>
		<td></td>
		<td>* Assessment Reporting</td>
		<td></td>
		<td>* Course Advice</td>
		</tr>
		</table>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Student Portal</h2>
          <p>The Student Portal is an area where all student related elements of the main portal are collected for easy access.</p>
          <a class="btn" href="../portal" role="button">Students &raquo;</a>
	  <!-- <div aria-hidden="true" aria-labelledby="myModalLabel" class="modal hide fade" id="myModal" role="dialog" tabindex="-1">
	    <div class="modal-header">
	      <button aria-hidden="true" class="close" data-dismiss="modal" type="button">x</button>
	      <h3 id="myModalLabel">Student Login</h3>
	    </div>
	    <div class="modal-body">
	      <form class="form" action= "/login" method="POST">
	      <label for="username">Username</label>
	      <input type="username" name="username"/>
	      <label for="password">Password</label>
	      <input type="password" name="password"/>
	      <button type="submit" class="btn">Login</button>
	    </form>
	    </div>
            <div class="modal-footer">
              <button class="btn" data-dismiss="modal">Close</button></div>
            </div>-->
	  </div>
        <div class="span4">
          <h2>Tutor Portal</h2>
          <p>The Tutor Portal is an area where all tutor/accessor related elements of the main portal are collected for easy access.</p>
          <p><a class="btn" href="../tutor">Login &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Assessor Portal</h2>
          <p>The Assessor Portal is an area where all assessment related elements of the main portal are collected for easy access.</p>
          <p><a class="btn" href="../assessor">Login &raquo;</a></p>
        </div>
      </div>

      <hr>
 </div>
{% endblock content %}

{% block sub %}
{% endblock sub %}


